.Domain {
    margin: 5% 8vw;

    .DomainArray {
        background: #F9F9F9;
        padding: 3.0625rem 3.5625rem;
        display: grid;
        grid-template-columns: repeat(3, 30%);
        grid-column-gap: 3vw;
        grid-row-gap: 1vw;

        div {
            img {
                width: 100%;
            }

            p {
                font-weight: 600;
                line-height: 2rem;
                font-size: 1.5rem;
                color: #212121;
                text-align: center;
                text-transform: uppercase;
                margin-top: 0.625rem;
            }
        }


    }
}