.footer {
    background: #552E91;
    padding: 3.1vw;
    display: grid;
    grid-template-columns: 10% 15% 15% auto auto auto;
    align-items: center;
    margin-top:6.875rem;

    .footer-links {
        a {
            display: block;
            padding-bottom: 1em;
            
            font-weight: 600;
            line-height: 1.125rem;
            font-size: 1.1rem;
            color: #FFFFFF;


        }
    }

    img{
        max-width: 90%;
        position: relative;
        
    }

    .logo{
        
        display: grid;
        align-self: center;
        justify-items: center;
        padding:0 2vw;
    }
 
    .logo-border-right{
        position: relative;
        display: grid;
        align-items: center;

        
    }

    .logo-border-right::after{
        content: "";
        border-right: 2px solid white;
        height:2rem;
        justify-self: end;
        position: absolute;

    }

    .footer-coordinator {
        .header {
            font-weight: 800;
            line-height: 1.5rem;
            font-size: 1rem;
            color: #FFFFFF;
            margin-bottom: 1em;
            position: relative;
            padding-bottom:1em;
        }

        .header::after {
            content: "  ";
            width: 10%;
            border-bottom: 2px solid white;
            position: absolute;
            left:0;
            bottom: 0;
        }

        p {
            line-height: 1.5rem;
            font-size: 1rem;
            margin-bottom: 0.2em;
            color: rgba(255,255,255,0.8);
            

        }

    }

}