.groupDetails {
    margin: 5% 5% 5% 12%;
    background: #F6F7F8;
    padding-bottom: 5%;

    .groupDetails-title {
        font-weight: bold;
        line-height: 48px;
        font-size: 36px;
        font-family: 'Playfair Display', serif;
        color: #212121;
        display: block;
    }

    .groupDetails-data {
        padding-left: 5%;
    }

    .groupDetails-array {
        display: grid;
        grid-template-columns: auto auto;

        grid-column-gap: 5vw;

        .groupDetails-details {


            .groupDetails-details-text {
                line-height: 1.5rem;
                font-size: 1rem;
                color: #000000;

            }

            .groupDetails-details-events {
                padding: 30px 0;

                .groupDetails-details-events-name {
                    font-weight: 600;
                    margin-bottom: 0;
                    font-size: 1.375rem;
                    color: #000000;
                    margin-top: 24px;
                }

                .groupDetails-details-events-des {
                    font-weight: 300;

                    font-size: 14px;

                    color: #000000;
                }
            }
        }

        .groupDetails-image {
            margin-right: -5%;


            img {
                width: 100%;
                display: inline-block;
                border-radius: 2px;
                box-shadow: 0 0 22px rgba(0, 0, 0, 0.15);

            }
        }
    }


    .groupDetails-members {
        padding-top: 34px;
         
        
        .groupDetails-members-array {
           
            width:100%;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            
            div{
                flex: 0 0 auto;
                width:152px;
                margin-right: 5vw;

            }
            img {
                width: 100%;
            }

            .student-name {
                font-weight: 600;
                line-height: 1.25rem;
                font-size: 1rem;
                padding-top: 0.625rem;
                color: #000000;
                margin-bottom: 0;
                text-align: center;
            }

            .student-desc{
                font-weight: 300;
                line-height: 1.25rem;
                font-size: 1rem;
                text-align: center;
                color: #000000;
            }
        }
    }

}