.group-details {
    .group-details-image {
        width: 100%;
        height: 70vh;
    }

    .group-details-inner {
        padding: 100px 8vw;

        .group-details-website {
            float: right;
            font-weight: bold;
            line-height: 23px;
            font-size: 18px;

            color: #552E91;



        }

        .group-details-events {
            padding: 7.5rem 7.5rem 0 0;

            .group-details-events-unit {
                display: grid;
                grid-template-columns: 30% auto;
                grid-column-gap: 5%;


                .group-details-events-image {
                    img {
                        width: 100%;
                    }
                }

                .group-details-events-name {
                    font-weight: bold;
                    line-height: 1.5rem;
                    font-size: 1.5rem;
                    padding-bottom: 1rem;
                    color: #552E91;
                }

                .group-details-events-descritpion {
                    font-weight: 300;
                    line-height: 1.75rem;
                    font-size: 1rem;
                    text-align: justify;

                    color: #000000;
                }

                .group-details-events-location {
                    font-weight: 600;
                    line-height: 1.75rem;
                    font-size: 1rem;
                    text-align: justify;
                    margin-top: 1rem;
                    color: rgba(0, 0, 0, 0.3);

                }
            }
        }
    }
}