@import "../../index.scss";
.achievements {
  padding: 10rem $paddingLeftRight;
  padding-right: 50rem;
  height: 100vh;
  background-image: url("../../static/achievement.png");
 
  background-position: center right ;
  background-size: 43.75rem auto;
  background-repeat: no-repeat;

  p{
    line-height: 3.125rem;
  }
}
