.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 8vw;
  background: #ffffff;

  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.5s ease;
  .navbar-items {
    display: inline;
    list-style-type: none;

    .navbar_unit {
      display: inline-block;

      a {
        display: inline-block;
        font-weight: 600;
        line-height: 1.125rem;
        font-size: 1rem;
        text-transform: uppercase;
        color: #5e5b5b;
        margin-left: 2.5rem;
      }

      .active {
        font-weight: bolder;
        line-height: 1.125rem;
        font-size: 1rem;
        text-decoration: none;
        color: #552e91;
      }
    }
  }

}

.navbar-shadow {
  box-shadow: 0rem 0.125rem 1rem rgba(0, 0, 0, 0.15);
  transition: 1s ease;
}
