@import "../../../index.scss";
.vision,
.History {
  padding-left: $paddingLeftRight;
  padding-right: 43.75rem;
  padding-top: 10rem;
  padding-bottom: 16.875rem;
}

.vision {
  background: $gradiant;
}
