 body,
 div {
     margin: 0;
     padding: 0;
     font-size: 16px;
 }
 @import url('https://fonts.googleapis.com/css?family=Playfair+Display');
 @import url('https://fonts.googleapis.com/css?family=Muli');

 body,
 html,
 div,
 span,
 a,
 li,
 ul {
     font-family: 'Muli', sans-serif;
 }

 .title {
     font-weight: bold;
     line-height: 4.5rem;
     font-size: 3.375rem;
     font-family: 'Playfair Display', serif;
     color: #212121;
     display: inline-block;
     margin-left:-5rem;
     padding:30px 0;
 }